In [1]:
%matplotlib inline
from matplotlib import style
style.use('fivethirtyeight')
import matplotlib.pyplot as plt

In [2]:
import numpy as np
import pandas as pd
import datetime as dt

# Reflect Tables into SQLAlchemy ORM

In [3]:
# Python SQL toolkit and Object Relational Mapper
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func

In [4]:
# create engine to hawaii.sqlite
engine = create_engine("sqlite:///./Resources/hawaii.sqlite")

In [5]:
# reflect an existing database into a new model
Base  = automap_base()
# reflect the tables
Base.prepare(engine, reflect=True)

In [6]:
# View all of the classes that automap found
Base.classes.keys()

['measurement', 'station']

In [12]:
# Save references to each table
measurement = Base.classes.measurement
station = Base.classes.station

In [13]:
# Create our session (link) from Python to the DB
session = Session(engine)

# Exploratory Precipitation Analysis

In [16]:
# Find the most recent date in the data set.
most_recent_date = session.query(measurement.date).order_by(measurement.date.desc()).first()
type(most_recent_date)

sqlalchemy.util._collections.result

In [21]:
# Design a query to retrieve the last 12 months of precipitation data and plot the results. 
last_year = dt.datetime.strptime(most_recent_date, '%Y-%m-%d')-dt.timedelta(days=365)
# Starting from the most recent data point in the database. 

# Calculate the date one year from the last date in data set.
rain_dt = session.query(measurement.date, measurement.prcp).filter(measurement.date>=last_year).order_by(measurement.date).all()

# Perform a query to retrieve the data and precipitation scores
rain_df = pd.DataFrame(rain_dt, columns=['Date', 'Precipitation'])
rain_df.set_index('Date', inplace=True)
rain_df = rain_df.dropna()

# Save the query results as a Pandas DataFrame and set the index to the date column


# Sort the dataframe by date


# Use Pandas Plotting with Matplotlib to plot the data

rain_plt = rain_df.plot().get_figure()
rain_plt.savefig("Output/Rain_12_mo.png")

NameError: name 'rain_dt' is not defined

In [19]:
# Use Pandas to calcualte the summary statistics for the precipitation data
rain_df.describe()

NameError: name 'rain_df' is not defined

# Exploratory Station Analysis

In [22]:
# Design a query to calculate the total number stations in the dataset
stations = session.query(station)
stations.count()

9

In [ ]:
# Design a query to find the most active stations (i.e. what stations have the most rows?)
# List the stations and the counts in descending order.

In [ ]:
# Using the most active station id from the previous query, calculate the lowest, highest, and average temperature.

In [ ]:
# Using the most active station id
# Query the last 12 months of temperature observation data for this station and plot the results as a histogram

# Close session

In [ ]:
# Close Session
session.close()